# Environment variables
.env*.local
.env

# Dependencies
node_modules/

# Production builds
.next/
out/

# Debug files
*.log

# Local storage files
*.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db